<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">.</span>
  </div>
</div>
<table class="table table-striped" *ngIf="updatedArray && !isLoading">
  <thead>
    <tr>
      <th scope="col">Reference Date</th>
      <th scope="col">Benchmark 1 - Individual ({{ benchmarkPercent1 | percent }})</th>
      <th scope="col">Benchmark 2 - Max type ({{ benchmarkPercent2 | percent }})</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let item of updatedArray
          | slice : (page - 1) * pageSize : page * pageSize
      "
    >
      <th scope="row">{{ item?.referenceDate | date : " dd MMM yyyy" }}</th>
      <td>{{ item?.benchmarkNumber1 | currency : "GBP" }}</td>
      <td>{{ item?.benchmarkNumber2 | currency : "GBP" }}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  *ngIf="updatedArray && !isLoading"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="updatedArray.length"
></ngb-pagination>
